.usersList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorMessage {
  color: #f00;
}

.totalCount {
  color: #ccc;
}

.errorImage {
  width: 250px;
  margin: 0 auto;
}

.errorImage img {
  width: 100%;
  height: auto;
}